<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Doctor - Login</title>
    <link rel="stylesheet" href="../static/login/login.css" />
  </head>
  <body>
    <main>
      <div class="bg"></div>
      <div class="login-container">
        <div class="top">
          <h1>Virtual Doctor Assistant</h1>
          <p class="tagline">Your healthcare, anytime, anywhere</p>
        </div>
        <form id="loginForm">
          <div class="log1">
            <label for="username">Email / Phone</label>
            <input
              type="text"
              id="username"
              placeholder="Enter email or phone"
              required
            />
          </div>
          <div class="log1">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Enter password"
              required
            />
          </div>
          <button type="submit">Login</button>
          <p class="signup-text">
            Don’t have an account? <a href="#">Sign Up</a>
          </p>
        </form>
      </div>
    </main>
    <script src="../static/login/login.js"></script>
  </body>
</html>
